* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #042854;
    text-align: center;
}

h1 {
    color: #ff9900;
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 50px;
    margin: 33px 0px;
    font-weight: bold;
}

#container {
    height: 60vh;
    display: flex;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.box {
    height: 18.5vmin;
    width: 18.5vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 rgba(0, 0, 0, 0.3);
    font-size: 10vmin;
    font-weight: bolder;
    color: #31436a;
    background-color: #f0f0f0;
}

#resetBtn {
    color: red;
    background-color: pink;
    font-weight: bolder;
    font-size: 4vmin;
    height: 10vmin;
    width: 25vmin;
    border: none;
    border-radius: 0.80rem;
    box-shadow: 0 0 rgba(0, 0, 0, 0.3);
    margin: 1vmin 0;
}